torch==2.6.0
deepspeed
accelerate
transformers==4.49.0
tokenizers
datasets
peft
sentencepiece
bitsandbytes>=0.41.1
protobuf
open_clip_torch==2.18.0
scipy
packaging
openai>=1.0.0
tiktoken
wandb
gradio>=3.50.2
fire
lm-eval
sentencepiece
vllm

